.Modal {
    top: 15%;
    left: 32.5%;
    position: fixed;
    width: 35%;
    z-index: 500;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
}