@media screen and (min-width: 1200px) {
    .Modal {
        top: 15%;
        left: 37.5%;
        position: fixed;
        width: 25%;
        z-index: 500;
        background-color: #fff;
        padding: 1em;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .Modal {
        top: 15%;
        left: 33.75%;
        position: fixed;
        width: 32.5%;
        z-index: 500;
        background-color: #fff;
        padding: 1em;
    }
}

@media screen and (max-width: 900px) {
    .Modal {
        top: 15%;
        left: 25%;
        position: fixed;
        width: 50%;
        z-index: 500;
        background-color: #fff;
        padding: 1em;
    }
}