
.table {
    width: 100%;
    border-collapse: collapse;
}

.td {
    padding: 0.25em 1em 0.25em 1em;
}

.tr {
    height: 2em;
    width: 100%;
    margin-bottom: 100px;
}

h1 {
    font-size: 3em;
    margin: 0.3em 0 0.4em 0;
}